{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="container">
	<h2>Welcome, {{ user.username }}</h2>
	{% block booking_list %}
	<h3>Your Bookings</h3>
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th class="col">Room</th>
				<th class="col">Date</th>
				<th class="col">Start Time</th>
				<th class="col">End Time</th>
				<th class="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for booking in bookings %}
			<tr>
				<td>{{ booking.room }}</td>
				<td>{{ booking.start_time|date:"d M Y"}}</td>
				<td>{{ booking.start_time|date:"H:i" }}</td>
				<td>{{ booking.end_time|time:"H:i" }}</td>
				<td class="d-grid gap-2 d-md-block">
					<a class="btn btn-primary btn-sm btn-block" href="{% url 'edit_booking' booking.booking_id %}">Edit</a>
					<a class="btn btn-danger btn-sm btn-block" href="{% url 'delete_booking' booking.booking_id %}">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
	{% endblock %}
{% else %}
	<header>
		<div class="container">
			<div class="text-center mt-5">
				<h1>inaspace</h1>
				<p class="lead">Book your office. Book your meeting. Book your rehearsal</p>
			</div>
		</div>
	</header>
<body>
	<div class="container">
		<div class="d-grid gap-2 col-4 mx-auto">
			<a class="btn btn-lg btn-secondary" href="accounts/login/" type="button">Login</a>
			<a class="btn btn-lg btn-secondary" href="accounts/signup/" type="button">Register</a>
		</div>
	</div>
</body>

{% endif %}

{% endblock %}