{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="container">
	<h2 class="text-secondary pt-3">Welcome, {{ user.first_name }}</h2>
	{% block booking_list %}
	<h5 class="pt-3">Your Bookings</h5>
	<div class="bookings-list-container">
	<table id="bookings-table" class="table table-sm table-striped">
		<thead class="thead-light">
			<tr>
				<th class="col">Room</th>
				<th class="col">Date</th>
				<th class="col">Start Time</th>
				<th class="col">End Time</th>
				<th class="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for booking in bookings %}
			<tr>
				<td>{{ booking.room }}</td>
				<td>{{ booking.date|date:"d M Y"}}</td>
				<td>{{ booking.start_time|time:"H:i" }}</td>
				<td>{{ booking.end_time|time:"H:i" }}</td>
				<td class="d-grid gap-1 d-lg-block">
					<a class="action-buttons btn btn-primary btn-sm" href="{% url 'edit_booking' booking.booking_id %}">Edit</a>
					<a class="action-buttons btn btn-danger btn-sm" href="{% url 'delete_booking' booking.booking_id %}">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
	<div class="container">
		<div class="d-grid gap-1 col-4 mx-auto">
			<a class="btn btn-md btn-secondary" type="button" href="{% url 'booking' %}">Book a Room</a>
		</div>
	</div>
</div>
	{% endblock %}
{% else %}
	<header>
		<div class="container">
			<div class="text-center mt-5">
				<h1>inaspace</h1>
				<p class="lead">Book your office. Book your meeting. Book your rehearsal</p>
			</div>
		</div>
	</header>
<body>
	<div class="container">
		<div class="d-grid gap-2 col-4 mx-auto">
			<a class="btn btn-lg btn-secondary" href="accounts/login/" type="button">Login</a>
			<a class="btn btn-lg btn-secondary" href="accounts/signup/" type="button">Register</a>
		</div>
	</div>


</body>

{% endif %}

{% endblock %}