{% extends "base.html" %}

{% block content %}
<div class="container">
	<h2 class="pt-3">Confirm Delete</h2>
	<p>Are you sure you want to delete booking {{ booking.booking_id }}: Room {{ booking.room }} on {{ booking.date|date:"d M Y" }} from {{ booking.start_time|time:"H:i" }} to {{ booking.end_time|time:"H:i" }}?</p>
	<form method="post">
		{% csrf_token %}
		<button type="submit" class="btn btn-danger">Delete</button>
		<a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
	</form>
</div>
{% endblock %}