{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Booking Request Form{% endblock %}

{% block content %}
<body>
<h2>
	{% if form.instance.pk %}
		Edit Booking
	{% else %}
		New Booking
	{% endif %}
</h2>
<form class="form" method="post">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit" class="btn btn-primary">
		{% if form.instance.pk %}
		Save changes
		{% else %}
		Book your room
		{% endif %}
	</button>
	<a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
</form>
</body>
{% endblock %}