{% load static %}

<header>
	{% with request.resolver_match.url_name as url_name %}
	<!-- Responsive navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="{% url 'home' %}">inaspace</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					{% if request.user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Your Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if url_name == 'booking' %}active{% endif %}" href="{% url 'booking' %}">Book a Room</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if url_name == 'accounts_logout' %}active{% endif %}" href="/accounts/logout/">Logout</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link {% if url_name == 'accounts_signup' %}active{% endif %}" href="/accounts/signup/">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if url_name == 'accounts_login' %}active{% endif %}" href="/accounts/login/">Login</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	{% endwith %}
</header>
