{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block content %}
<div class="container pt-3">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="border border-3 border-secondary p-3">
				<h2>{% trans "Register for an Account" %}</h2>
				<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
				<form id="signup_form" method="post" action="{% url 'account_signup' %}">
					{% csrf_token %}
					<div class="row">
						<div class="col-12 col-md-6" id="left-column">
							<!-- Left column fields -->
							<div class="mb-3 form-field" data-field="email">
								{{ form.email|as_crispy_field }}
							</div>
							<div class="mb-3 form-field" data-field="first_name">
								{{ form.first_name|as_crispy_field }}
							</div>
							<div class="mb-3 form-field" data-field="password1">
								{{ form.password1|as_crispy_field }}
							</div>
						</div>
						<div class="col-12 col-md-6" id="right-column">
							<!-- Right column fields -->
							<div class="mb-3 form-field" data-field="username">
								{{ form.username|as_crispy_field }}
							</div>
							<div class="mb-3 form-field" data-field="last_name">
								{{ form.last_name|as_crispy_field }}
							</div>
							<div class="mb-3 form-field" data-field="password2">
								{{ form.password2|as_crispy_field }}
							</div>
						</div>
					</div>
					{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					{% endif %}
					<button type="submit" class="btn btn-primary w-100">Register</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}