/* custom css */
html,
body {
	height: 100%;
	margin: 0;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: var(--bs-body-font-family);
	font-size: var(--bs-body-font-size);
	font-weight: var(--bs-body-font-weight);
	line-height: var(--bs-body-line-height);
	color: var(--bs-body-color);
	text-align: var(--bs-body-text-align);
	background-color: var(--bs-body-bg);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 40px;
}

.footer-text {
	font-size: small;
}

.social-icon {
	height: 2rem;
	margin: 1rem;
}

.form {
	width: 90%;
	margin: 5% auto;
}

.booking-form {
	display: ruby-text;
}

a {
	text-decoration: none;
}

.booking-form input {
	max-width: 12rem;
}

.booking-form select {
	max-width: 12rem;
}

.alert-container {
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1010;
}

.alert {
	text-align: center;
	margin-top: 1rem;
	width: 20rem;
	position: relative;
}

.dt-input {
	margin-left: 4px;
}

.bookings-list-container {
	width: 100%;
}

tbody {
	font-size: small;
}

.delete-container {
	width: 50%;
}